.popup__input {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #000;
    border-left: none;
    border-top: none;
    border-right: none;
}
